:javascript
  $(window).load(function() {
    $('.flexslider').flexslider({
      slideshow:false,
    });

  });

.cols.full-width
  %h1
    //Dinos are everywhere!! 

  //#geo
  %br
  &nbsp;
    
  %div.flexslider
    %ul.slides
      - @teaserset.each do |d|
        %li
          %a{ :href => dino_path(d) }

            %img{ :src => "#{d.thumb}", :class => "creature-images styled" }
            .dino-title
              %span
                = "#{d.name}"
          
  //#mapholder
    