<div class="cols left">
  <h1>Home - #index action</h1>
  <%= image_tag "home/cover/dino1.jpg", :class => "styled", :width => "220px" %>
</div>
<div class="cols right">
  <p>Welcome to my dinosaur website!</p>
  <ul>
  	<%- @dinos.each do |d| %>
	  	<li><%=d.name%></li>
  	<%-end%>
  </ul>
</div>
