!!! html
%html
  %head
    %meta{ :name => "Charset", :content => "UTF-8" }
    %meta{ :name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=1;" }
    - if @pagedescription
      %meta{ :name => "Description", :content => "#{@pagedescription}" }
    %title="#{@pagetitle}"

    =stylesheet_link_tag "application", "http://fonts.googleapis.com/css?family=Marcellus|Istok+Web:400,700|Bad+Script", :media => "all"
    =javascript_include_tag "application", "modernizr", "flexslider"
    =csrf_meta_tags

  %body
    .wrapper
      .header-wrapper.clearfix
        .header-wrapper-inner
          .logo-wrapper
            =link_to("", root_url, html_options = {:id => "logo" })
            //#logo="Dinos!"
          
      #container.clearfix
        = yield
